<h1>Por Pais</h1>
<hr>
<div class="row">
  <div class="col">
    <form autocomplete="off">
      <input
      name="termino"
      class="form-control"
      placeholder="Buscar Pais..."
      type="text">
    </form>
  </div>
</div>
  <hr>
<div class="alert alert-danger">
  No se encontro ningu ABCD
</div>


<div class="row">
  <div class="col">
    <table class="table table-holder">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Poblacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
